body {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 46, 46);
    align-items: center;
}

.nav-bar{
    display: flex;
    gap: 10px;
}

h1 {
    text-align: center;
}

.picture img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
}

img {
    height: 150px;
    position: relative;
    border: 3px solid; 
    border-color: rgb(128, 128, 128);
}

.picture:hover img {
    border-color: aqua;
    transform: scale(1);
}

.preview {
    display: none;
    position: fixed; 
    bottom: 100px;
    left: 33%;
    width: 300px; 
    z-index: 1;
    text-align: center; 
}

.preview img {
    width: 680px;
    height: 402px;
    border-radius: 5px;
  
}

.picture:hover  .preview {
    display: block; 
}

